@model SalsifyApp.Models.Product
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Symmons Salsify Data Portal</h1>
    <p>Select task from menu or dropdown</p>
</div>

<!--@using (Html.BeginForm())
{<button id="reset" name="reset">Reset »</button>}
<div id="apiDiv">
    <h4>Select Sku to retrieve from Salsify</h4>-->
    @*@using (Html.BeginForm())
        {
            <span>
                <select id="Select1">
                    @foreach (var sku in Model.Skus)
                    {
                    <option>sku.<option>
                    }
                </select>
            </span>
        }*@

    <!--<form asp-controller="Home" asp-action="Index" method="post">
        <select asp-for="Sku" asp-items="Model.Skus"></select>
        <br /><button type="submit">Get</button>
    </form>

    <form asp-controller="Home" asp-action="create" method="post">-->
        @*<select asp-for="Sku" asp-items="Model.Skus"></select>*@
        <!--<br /><button type="submit">Post</button>
    </form>

    <form asp-controller="Home" asp-action="update" method="post">-->
        @*<select asp-for="Sku" asp-items="Model.Skus"></select>*@
        <!--<br /><button type="submit">Put</button>
    </form>

    <form asp-controller="Home" asp-action="delete" method="post">-->
        @*<select asp-for="Sku" asp-items="Model.Skus"></select>*@

        <!--<br /><button type="submit">Delete</button>
    </form>-->

    @*<button name="submit">Submit</button>
        }*@
    <!--<div id="message">@(new Microsoft.AspNetCore.Html.HtmlString(Model.apiResponse))</div>
    
   
</div>-->

@*<div>
    <select id="Select1">
        <option>TA-10</option>

    </select>
</div>

<div>
    <table style="width:100%;">
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>*@